<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
        >

<mapper namespace="handalab.eggtec.mapper.SocketMapper">


    <select id="getIntervalData" resultType="handalab.eggtec.dto.socketio.IntervalDTO">
        (
            SELECT
                0 AS lane_no,
                COALESCE(
                        SUM(
                                (CASE WHEN lane1 != 0 THEN 1 ELSE 0 END) +
                                (CASE WHEN lane2 != 0 THEN 1 ELSE 0 END) +
                                (CASE WHEN lane3 != 0 THEN 1 ELSE 0 END) +
                                (CASE WHEN lane4 != 0 THEN 1 ELSE 0 END) +
                                (CASE WHEN lane5 != 0 THEN 1 ELSE 0 END) +
                                (CASE WHEN lane6 != 0 THEN 1 ELSE 0 END)
                        ), 0
                ) AS ng_count_today,
                COALESCE(
                        SUM(
                                (CASE WHEN lane1 = 0 THEN 1 ELSE 0 END) +
                                (CASE WHEN lane2 = 0 THEN 1 ELSE 0 END) +
                                (CASE WHEN lane3 = 0 THEN 1 ELSE 0 END) +
                                (CASE WHEN lane4 = 0 THEN 1 ELSE 0 END) +
                                (CASE WHEN lane5 = 0 THEN 1 ELSE 0 END) +
                                (CASE WHEN lane6 = 0 THEN 1 ELSE 0 END)
                        ), 0
                ) AS ok_count_today,
                COALESCE(
                        SUM(
                                (CASE WHEN lane1 != 0 THEN 1 ELSE 0 END) +
                                (CASE WHEN lane2 != 0 THEN 1 ELSE 0 END) +
                                (CASE WHEN lane3 != 0 THEN 1 ELSE 0 END) +
                                (CASE WHEN lane4 != 0 THEN 1 ELSE 0 END) +
                                (CASE WHEN lane5 != 0 THEN 1 ELSE 0 END) +
                                (CASE WHEN lane6 != 0 THEN 1 ELSE 0 END)
                        ), 0
                ) +
                COALESCE(
                        SUM(
                                (CASE WHEN lane1 = 0 THEN 1 ELSE 0 END) +
                                (CASE WHEN lane2 = 0 THEN 1 ELSE 0 END) +
                                (CASE WHEN lane3 = 0 THEN 1 ELSE 0 END) +
                                (CASE WHEN lane4 = 0 THEN 1 ELSE 0 END) +
                                (CASE WHEN lane5 = 0 THEN 1 ELSE 0 END) +
                                (CASE WHEN lane6 = 0 THEN 1 ELSE 0 END)
                        ), 0
                ) AS total
            FROM
                history
            WHERE
                DATE(created_t) = CURRENT_DATE
        )
        UNION ALL
        (
            SELECT 1 AS lane_no,
                   COALESCE(SUM(CASE WHEN lane1 != 0 THEN 1 ELSE 0 END), 0) AS ng_count_today,
                   COALESCE(SUM(CASE WHEN lane1 = 0 THEN 1 ELSE 0 END), 0) AS ok_count_today,
                   COUNT(*) AS total
            FROM history WHERE DATE(created_t) = CURRENT_DATE

            UNION ALL

            SELECT 2 AS lane_no,
                   COALESCE(SUM(CASE WHEN lane2 != 0 THEN 1 ELSE 0 END), 0) AS ng_count_today,
                   COALESCE(SUM(CASE WHEN lane2 = 0 THEN 1 ELSE 0 END), 0) AS ok_count_today,
                   COUNT(*) AS total
            FROM history WHERE DATE(created_t) = CURRENT_DATE

            UNION ALL

            SELECT 3 AS lane_no,
                   COALESCE(SUM(CASE WHEN lane3 != 0 THEN 1 ELSE 0 END), 0) AS ng_count_today,
                   COALESCE(SUM(CASE WHEN lane3 = 0 THEN 1 ELSE 0 END), 0) AS ok_count_today,
                   COUNT(*) AS total
            FROM history WHERE DATE(created_t) = CURRENT_DATE

            UNION ALL

            SELECT 4 AS lane_no,
                   COALESCE(SUM(CASE WHEN lane4 != 0 THEN 1 ELSE 0 END), 0) AS ng_count_today,
                   COALESCE(SUM(CASE WHEN lane4 = 0 THEN 1 ELSE 0 END), 0) AS ok_count_today,
                   COUNT(*) AS total
            FROM history WHERE DATE(created_t) = CURRENT_DATE

            UNION ALL

            SELECT 5 AS lane_no,
                   COALESCE(SUM(CASE WHEN lane5 != 0 THEN 1 ELSE 0 END), 0) AS ng_count_today,
                   COALESCE(SUM(CASE WHEN lane5 = 0 THEN 1 ELSE 0 END), 0) AS ok_count_today,
                   COUNT(*) AS total
            FROM history WHERE DATE(created_t) = CURRENT_DATE

            UNION ALL

            SELECT 6 AS lane_no,
                   COALESCE(SUM(CASE WHEN lane6 != 0 THEN 1 ELSE 0 END), 0) AS ng_count_today,
                   COALESCE(SUM(CASE WHEN lane6 = 0 THEN 1 ELSE 0 END), 0) AS ok_count_today,
                   COUNT(*) AS total
            FROM history WHERE DATE(created_t) = CURRENT_DATE
        );
    </select>





</mapper>