<?xml version="1.0" encoding="UTF-8"?>
<configuration>

     <!-- <property name="LOG_PATH" value=${log.config.path} /> -->

    <!-- 콘솔 로그 설정 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 로그 파일 저장 설정 -->
    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/application.log</file>
        <!-- 로그 파일 롤링 정책 (날짜별 분리) -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/application-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory> <!-- 로그 파일 최대 30일 보관 -->
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 전체 로그 -->
    <!-- <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </root> -->
    <logger name="handalab.eggtec" level="INFO" additive="false" >
        <appender-ref ref="fileAppender"/>
    </logger>
    <logger name="handalab.eggtec" level="INFO" additive="false" >
        <appender-ref ref="console"/>
    </logger>

</configuration>


